/*------- google fonts --------*/
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Gugi&family=Lato:ital@1&family=Roboto&family=Sofia&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
#searchinput {
  background: #f8f9fa;
  width: 99%;
  border-radius: 25px;
}
.font-lato{
  font-family: 'Lato', sans-serif;
}
/*chat img logo */
.chat{
  position: fixed;
  top: 91%;
  left: 95%;
  width: 43px;
  padding: 4px;
  background: white;
  cursor: pointer;
  border-radius: 26px;
}
.stage {
  border-bottom: 3px solid #444;
  display: flex;
  height: 330px;
  width: 100%;
}
.box {
  align-self: flex-end;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  
  transform-origin: bottom;
  
}
.bounce-7 {
  animation-name: bounce-7;
  animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
}
@keyframes bounce-7 {
  0%   { transform: scale(1,1)      translateY(0); }
  10%  { transform: scale(1.1,.9)   translateY(0); }
  30%  { transform: scale(.9,1.1)   translateY(-18px); }
  50%  { transform: scale(1.05,.95) translateY(0); }
  57%  { transform: scale(1,1)      translateY(-7px); }
  64%  { transform: scale(1,1)      translateY(0); }
  100% { transform: scale(1,1)      translateY(0); }
}
/**chat bot */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
.userMsg{
    padding: 6px 9px;
    border: 1px solid #ced4da;
    width: auto;
    margin-left: auto;
    text-align: left;
    display: inline;
}
li{
    list-style: none;
}
.radius{
    border-radius: 0 !important;
}
.font{
    font-family: 'Lato', sans-serif;
}

.ModelBody{
     max-height: 47vh;
    overflow-y: scroll;
}
#typing{
    display: none;
}
li.drop ul.dropdown {
  background: #f8f9fa none repeat scroll 0 0;
  box-shadow: 0 0 0px rgb(0 0 0 / 10%), 0 1px 3px rgb(0 0 0 / 10%);
  /* left: 0; */
  text-align: start;
  list-style: none;

  margin: 0;
  padding: 0 3px;
  text-transform: capitalize;
  position: absolute;
  top: 55%;
  transition: all 0.2s ease-in-out 0s;
  visibility: hidden;
  width: 155px;
  z-index: 999;
}

li.drop:hover ul.dropdown {
  background: #f8f9fa none repeat scroll 0 0;
  visibility: visible;
}
li.drop ul.dropdown li {
  margin: 0;
}

#submitsearch {
  outline: none;
  position: fixed;
  left: 1223px;
  cursor: pointer;
}

#hoverList {
  width: 40%;
  position: absolute;
  top: 9px;
  left: 97px;
  list-style: none;
}
#hoverList li {
  background: #dee2e6f2;
  padding: 4px;

  margin: 8px 5px;
  border-radius: 5px;
}

html {
  scroll-behavior: smooth;
}
#cartImage {
  background: linear-gradient(#a8a1a173, rgba(201, 99, 99, 0.3)),
    url(../images/4.jpg);
  width: 100%;
  height: 200px;
}
:root {
  --primary-color: #45ccb8;
  --light-gray: #2b3032a1;
  --border: #2b303218;
  --text-color: #ff686b;

  --roboto: "Roboto", sans-serif;
  --gugi: "Gugi", cursive;
  --sofia: "Sofia", cursive;
}

#registerDiv {
  background-image: linear-gradient(
      #f2f2f3,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url("https://images.pexels.com/photos/2529787/pexels-photo-2529787.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=1950&w=2240");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}
.color {
  color: rgb(248, 245, 245);
}
.color a:hover {
  color: rgb(248, 245, 245);
  text-decoration: none;
}
#insertMsg {
  background: #c7152d;
  width: auto;
  color: white;
  display: inline-block;
  border: 2px solid #bdb3b3;
  position: absolute;
  top: 89%;
  left: 43%;
  display: none;
  border-radius: 5px;
  padding: 3px 23px;
  margin: 0px 7px;
}

.bg-color {
  background-color: #f1e8e8;
}
.primary-color {
  color: var(--primary-color);
}

.font-gugi {
  font-family: var(--gugi);
}

.bg-primary-color {
  background-color: var(--primary-color);
}
.bgcolor {
  background-color: var(--primary-color);
}

.text-color {
  color: var(--text-color);
}
.font-roboto {
  font-family: var(--roboto);
}
.font-sofia {
  font-family: var(--sofia);
}

.lighblue {
  color: lightblue;
}
/**** Header *****/
header {
  background-color: var(--primary-color);
  font-family: var(--roboto);
}
header .site-title {
  font-family: var(--gugi);
}
.container .dropdown-toggle,
.container .dropdown-item {
  font-size: 0.7em;
}
.header-links a {
  font-size: 0.9em;
  text-decoration: none;
}
/*  Navigation menu**/
.navbar-nav {
  padding: 0.8em 0em;
}
.navbar-nav .nav-link {
  font-size: 0.9em;
  color: var(--light-gray);
}
.navbar-nav .nav-item .nav-link {
  padding: 0 1.3em;
}

.navbar-nav .search-icon {
  margin-right: 6.5em !important;
}

/**  Image slider 1 **/
.img-slider-1 {
  width: 100% !important;
  height: 57vh;
}
/*  carasoul indiacators*/
.carousel-control-prev,
.carousel-control-next {
  width: 40px;
  height: 40px;
  background-color: var(--primary-color);
  top: 50%;
  opacity: 0.8;

  border-radius: 50px;
}
.carousel-control-next {
  right: -1%;
}
.carousel-control-prev {
  left: -1%;
}
/** Slider two**/

.site-btn.btn-span {
  padding: 0.8rem 1.9rem;
  border-radius: 4rem;
  border: 1px solid var(--border);
  background-color: white;
  position: relative;
  top: -19px;
  color: var(--light-gray);
}
.site-btn.btn-span:hover {
  background-color: var(--primary-color);
  color: white;
}

/*  featured products */
#featured-product div:hover {
  transition: 0.4s;
}
#featured-product div img {
  /*-webkit-box-shadow: 1px 2px 10px -4px rgba(6,11,26,1);
        -moz-box-shadow: 1px 2px 10px -4px rgba(6,11,26,1);
        box-shadow: 1px 2px 10px -4px rgba(6,11,26,1);*/
}

/* offer color */
.band {
  background: radial-gradient(#fff, #ffd6d6);
  padding: 3% 7%;
}
.band img {
  padding: 13px 37px;
}
#ex-offer {
  margin: 122px 0px;
}

/* about us  */

/*Total amount */
.total-amount {
  position: relative;
  left: 7%;
  top: -30px;
  border-top: 2px solid red !important;
  width: 90% !important;
}
.set-quantity {
  position: relative;
}
.set-quantity::after {
  content: "(Note , 1 piece required)";
  width: auto;
  height: auto;
  text-align: center;
  position: absolute;
  bottom: -20px;
  left: 12px;
  color: gray;
  font-size: 0.8rem;
}
.page-link:focus {
  box-shadow: none;
}
/** beats section*/
.welcome {
  background: url("  https://images.pexels.com/photos/1037996/pexels-photo-1037996.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=1300 ");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 70vh;
}
.beats-heading {
  font-size: 4rem;
  text-shadow: 0px 0px 9px rgba(0, 0, 0, 0.75);
  color: #ebedee;
}
.sub-heading {
  text-shadow: 0px 0px 9px rgba(0, 0, 0, 0.75);
  color: #ebedee;
}
.line {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#cartNotification {
  display: inline;
  padding: 0px 5px;
  border-radius: 18px;
  position: relative;
  left: -19px;
  top: -12px;
}
#wishlistnotification {
  display: inline;
  padding: 0px 5px;
  border-radius: 18px;
  position: relative;
  left: -19px;
  top: -12px;
}

#empty_cart {
  background: url(https://profcerts.com.br/themes/river/assets/images/undraw_shopping_app_flsj.svg);
  height: 55vh;
  background-position: center;
  width: 100%;
  box-sizing: border-box;
  background-size: contain;
  background-repeat: no-repeat;
}
#cartMsg {
  position: absolute;
  top: 48px;
  left: 2px;
}
#dropdownProfile {
  width: fit-content;
  list-style: none;
  color: #fff;
  text-transform: capitalize;
  position: absolute;
  visibility: hidden;
  z-index: 3333;
  top: 68%;
  padding: 0 10px;
  background: #45ccb8;
  left: 65%;
  transition: all 0.2s ease-in-out 0s;
}
#profile:hover #dropdownProfile {
    visibility: visible;
}
/* X-Small devices (portrait phones, less than 576px)*/
@media (max-width: 475.98px) {
  .store-logo {
    display: block;
  }
  #title {
    display: none;
  }
  #hoverList {
    width: auto;
    position: absolute;
    top: 9px;
    left: 85px;
    list-style: none;
  }
  #cartMsg {
    top: 89px;
  }

  #cartNotification {
    display: inline;
    padding: 0px 5px;
    border-radius: 18px;
    position: relative;
    left: -21px;
    top: 11px;
  }
  .search-icon i {
    background-color: white;
  }
  .nav {
    display: block !important;

    text-align: center;
  }
  .nav a {
    background: #4f6966;
    margin: 4px 0;
    color: white !important;
  }

  .img-slider-1 {
    width: 100% !important;
    height: 31vh;
  }
  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    display: inline-block;
    width: 13px;
    height: 13px;
  }
  .carousel-control-prev,
  .carousel-control-next {
    width: 23px;
    height: 22px;
  }
  #insertMsg {
    top: 28%;
    left: 9%;
    /* display: none; */
  }
  .site-btn.btn-span {
    padding: 0 7px;
    position: relative;
    top: -14px;
    font-size: 9px;
  }
  .carousel-control-next {
    right: -11px;
  }
  .carousel-control-prev {
    left: -11px;
  }
  .navbar-nav .search-icon {
    /* margin-right: 0 !important; */
    position: absolute;
    left: 46%;
    color: white;
    top: -48px;
  }
  /*  featured products */
  #featured-product p {
    margin-top: 7px;
    font-size: 7px;
    margin-bottom: 1rem;
  }
  #featured-product .rating {
    font-size: 6px;
  }

  /* ourteam */
  .feedback i {
    background: #5fbd74;
    border-radius: 24px;
    width: 27px;
    font-size: 15px;
    position: relative;
    padding: 5px 0;
    top: 149px;
    left: 27px;
    height: 26px;
  }
  /* Exlusive product */

  #ex-offer {
    padding: 13px 0;
    margin: 0;
  }
  .band img {
    padding: 13px 0;
  }

  .band p {
    font-size: 8px;
    margin: 0;
    padding: 0;
  }
  .band .btn {
    font-size: 8px;
    font-weight: bolder;
    padding: 3px 0px;
    margin: 8px 0;
  }
  .band h1 {
    font-size: 17px;
  }
  /* beats section  */
  .beats-heading {
    font-size: 18px;
  }
  .sub-heading {
    font-size: 16px;
  }
}
