
body{
	font-family: sans-serif;
  margin-top: 50px;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loaderParent{
      /* border: 1px solid black; */
      display: none;
      width: 99%;
      height: 85vh;
      position: absolute;
      background: #ece2e291;
      top: 7px;
      z-index: 3;
      left: 3px;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  left: 49%;
  top: 23%;
  position: absolute;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(83,65,65, 0.2);
  border-right: 1.1em solid rgba(83,65,65, 0.2);
  border-bottom: 1.1em solid rgba(83,65,65, 0.2);
  border-left: 1.1em solid #534141;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


#msgPara{
  background: #343a40;
  color: white;
  width: auto;
  padding: 3px 7px;
  border-radius: 6px;
  position: fixed;
  top: 90%;
  left: 50%;
  display: none;
  z-index: 3;
}
#msg{
  background: #343a40;
  color: white;
  width: auto;
  padding: 3px 7px;
  border-radius: 6px;
  position: fixed;
  top: 90%;
  left: 50%;
  display: none;
}
 
#msgActive{
  background: #343a40;
  color: white;
  width: auto;
  padding: 3px 7px;
  border-radius: 6px;
  position: fixed;
  top: 90%;
  z-index: 33;
  left: 50%;
  display: none; 
}
.status{
  cursor: pointer;
  margin: auto;
  width: 97px;
    text-transform: capitalize;
    padding: 3px 0px;
    border-radius: 25px;
}
.profile-main{
    width: 83%;
    position: relative;
    margin: 0 auto;
    
    padding-bottom: 0px;
    top: 2px;
    left: 8%;
}
.profile-header{
    height: 44vh;
    width: 100%;
    border-radius: 8px;
    background-color: #EBF6FA;
    border-bottom: 2px solid #E2F3FB;
}
.user-detail{
  position: relative;
  width: 75%;
  margin: 0 auto;
  height: 100%;
}
.user-image{
  float: left;
  position: relative;
  width: 23%;
  height: 135px;
}
.user-image img{
    width: 10vw;
    height: 25vh;
    border-radius: 50%;
    margin-top: 35px;
}
.prof-label{
  position: absolute;
  background: #8C13A0;
  color: #fff;
  padding: 9px 4px;
  border-radius: 50%;
  top: 155px;
  left: 42px;
  font-size: 12px;
}
.user-data{
  float: left;
  width: 46%;
  padding-left: 27px;
  margin-bottom: 20px;
}
.user-data h2{ 
  margin-bottom: 0px;
  margin-top: 35px;
  font-size: 20px;
  font-weight: 600;
}
.user-data .post-label{
  font-size: 10px;
  border: 1px solid #C3CECB;
  padding: 0px 4px;
  border-radius: 4px;
  background: #F3F5F5;
  margin-right: 5px;
}
.user-data .post-label:hover{
  background-color: #F8EDE7;
  border-color: #F2D4BA;
}
.user-data p{
  font-size: 12px;
  color: #404040;
}
.social-icons{
  float: right;
  width: 25%;
  text-align: right;
}
.social-icons i{
  margin-top: 35px;
  margin-bottom: 15px;
  color: #fff;
  padding: 5px 5px 1px 0px;
  border-radius: 50%;
  font-size: 11px;
  margin-right: 2px;
  height: 14px;
  width: 14px;
}
.social-icons .fa-facebook{
  background-color: #365597;
}
.social-icons .fa-twitter{
  background-color: #01B0F4;
}
.social-icons .fa-linkedin{
  background-color: #0F80BB;
}
.social-icons .fa-google{
  background-color: #D53B1F;
}
.social-icons .fa-instagram{
  background-color: #CF3594;
}
.msg-btn{ 
    background: none;
    padding: 0;
    padding-top: 0px;
    margin: 8px 0;
    color: black;
    text-decoration: none;
    font-size: 12px;
}
.msg-btn i{ 
    padding: 0;
    margin: 13px;
    font-size: 17px;
    color: black;
}


/*tab*/
.tab-panel-main{
  width: 75%;
  margin: 0 auto;
}
ul.tabs{
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  position: absolute;
  top: 207px;
  right: 400px;
}
ul.tabs li{
  color: #222;
  display: inline-block;
  padding: 10px 15px;
  border-right: 1px solid #E2F3FB;
  border-top: 2px solid #E2F3FB;
  cursor: pointer;
  background: #FAFBFB;
}
ul.tabs li:last-child{
  border-right: 2px solid #E2F3FB;
}
ul.tabs li:first-child{
  border-left: 2px solid #E2F3FB;
}
ul.tabs li.current{
  background: #10A3FF;
  color: #fff;
  font-weight: 600;
}
.tab-content{
  display: none;
  padding: 15px 5px;
}
.tab-content.current{
  display: inherit;
}
.skill-box{
  border:1px solid #ededed;
  border-radius: 3px;
  padding: 11px 15px;
  margin-bottom: 20px;
}
.skill-box ul li strong{
  font-size: 12px;
}
.skill-box ul{ 
  margin: 0;
  padding: 0;
  list-style: none;
}
.skill-box ul li{
  display: inline-block;
  font-size: 11px;
  margin-right: 4px;
  padding: 4px 4px;
  border-radius: 2px;
}
.skill-box ul li:hover{
  background-color: #FF6E00;
  color: #fff !important;
}
.skill-box ul li:first-child:hover{
  background-color: #fff;
  color: black !important;
}
.skill-box ul li i{
  margin-left: 4px;
  margin-right: 1px;
}
.bio-box{
  float: left;
  width: 56%;
  border:1px solid #ededed;
  border-radius: 4px;
}
.detail-box{
  float: right;
  width: 32%;
  border:1px solid #ededed;
  padding: 13px;
  border-radius: 4px;
}
.bio-box .heading{
  padding: 10px 0px 10px 10px;
}
.bio-box .heading p{
  margin: 0px;
  font-weight: 600;
  font-size: 13px;
}
.bio-box .heading label{
  float: right;
  font-size: 9px;
  font-weight: normal;
  border: 1px solid #ededed;
  border-right: none;
  padding: 2px 1px 2px 5px;
}
.bio-box .desc{
  padding: 10px 10px 10px 10px;
  text-align: justify;
  color: #838383;
  font-size: 13px;
}
.detail-box{
  padding: 10px;
  font-size: 13px;
}
.detail-box p{
  font-weight: 600;
  margin: 0px;
}
.detail-box .ul-first{
  padding: 0px;
  list-style: none;
  float: left;
}
.detail-box .ul-second{
  float: left;
  list-style: none;
  color: #767676;
}
#Portfolio{
    height: 53vh;
    width: 65vw;
    float: left;
    top: 27px;
    position: relative;
    background: none;
    padding-left: 0px;
    padding-right: 0px;
}
.portfolio-box{
    border: 1px solid #ededed;
    border-radius: 4px;
    padding: 0px 20px;
    float: left;
    width: 64vw;
    height: 49vh;
}
.portfolio-img-box{
  width: 30%;
  height: 145px;
  float: left;
  margin-right: 25px;
  border-radius: 3px;
}
.portfolio-img-box:last-child{
  margin-right: 0px;
}
.portfolio-img-box h3{
  text-align: center;
  color: #969696;
}
.portfolio-img-box img{
  border:1px solid #c1c1c1;
  width: 100%;
  height: 100%;
  padding: 2px;
}
#Edu-detail{
    height: 37vh;
    float: left;
    padding-right: 0;
    background: none;
    position: relative;
    padding-left: 0;
    top: 27px;     
}
.Edu-box-main h2{
  margin: 0;
  margin-bottom: 0px;
  text-align: center;
  margin-bottom: 25px;
  color: #969696;
}
.Edu-box-main h2 i{
  color: #42A8BF;
}
.Edu-box-main{
    float: left;
    width: 62vw;
    padding: 0px 0;
    background: none;
    padding-left: 0px;
    position: relative;
    top: 2px;
    padding-right: 0px;
}
.Edu-box{
  width: 38%;
  float: left;
  margin-left: 20px;
  margin-right: 40px;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid #E0E0E1;
  padding: 10px;
}
.Edu-box:last-child{
  margin-left: 0px;
  margin-right: 20px;
}
.Edu-box h5{
  margin: 0;
  font-weight: normal;
  font-weight: 600;
}
.Edu-box h5 span{
  color: #42A8BF;
  font-size: 15px;
}
.Edu-box p{
  padding: 10px 0px 0px 0px;
  text-align: justify;
  font-size: 13px;
  color: #8E8E8E;
  margin: 0;
}
.footer, .footer strong{
  text-align: center;
}

.footer-box-main{
  width: 80%;
  background-color: red;
  margin: 0 auto;
}
.footer-box{
  height: 50px;
  width: 50px;
  border: 1px solid #939393;
  border-radius: 50%;
  display: inline-block;
  margin-right: 20px;
}
.footer-box:last-child{
  margin-right: 0px;
}
.footer-box i{
  line-height: 50px;
  font-size: 20px;
}
.footer-box .fa-facebook{
  color: #365597;  
}
.footer-box .fa-twitter{
  color: #01B0F4;  
}
.footer-box .fa-linkedin{
  color: #0F80BB;  
}
.footer-box .fa-google{
  color: #D53B1F;  
}
.footer-box .fa-instagram{
  color: #CF3594;  
}
#Basic-detail{
    height: 46vh;
    float: left;
    width: 60vw;
    padding: 35px 0;
    background: none;
    padding-left: 0px;
    position: relative;
    top: 23px;
    padding-right: 0px;
}

@media (min-width: 320px) and (max-width: 640px){
  .profile-main{
    width: 100%;
  }
  .user-detail{
    width: 95%;
  }
  .user-image {
    width: 33%;
    height: 100px;
  }
  .user-data{
    width: 51%;
    margin-bottom: 27px;
  }
  .social-icons{
    width: 90%;
    float: left;
  }
  .social-icons i{
    margin-top: 0px;
  }
  .msg-btn{
    float: left;
    height: 18px;
    margin-right: 10px;
  }
  ul.tabs{
    width: 97%;
    font-size: 13.5px;
    right: 0px;
    top: 261px;
    left: 7px;
  }
  .profile-header{
    height: 250px;
  }
  .bio-box{
    width: 100%;
    margin-bottom: 10px;
  }
  .detail-box{
    width: 100%;
    float: left;
    padding: 0;
  }
  .detail-box p{
    padding: 10px;
    padding-bottom: 10px;
    padding-bottom: 0;
  }
  .detail-box ul.ul-first{
    padding-left: 10px;
  }
  .Edu-box{
    width: 80%;
    margin: 0px;
    margin-bottom: 0px;
    margin-left: 11px;
    margin-bottom: 15px;
  }
  .Edu-box:last-child{
    margin-left: 11px;
  }
  .portfolio-box, .portfolio-img-box{
    height: auto;
  }
  .portfolio-img-box{
    width: 100%;
  }
  .footer-box i{
    line-height: 40px;
  }
  .footer-box {
    height: 42px;
    width: 35px;
  }
  #Portfolio, #Edu-detail, #Basic-detail{
    height: auto;
  }
}
body{
    background:#fff;
    font-family: 'Montserrat', sans-serif;
}
*{
    padding: 0;
    margin: 0;
}

/* navbar */
.sidebar{
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.733),rgba(0, 0, 0, 0.76)), url('../images/mountain.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 5px 7px 25px #999;
}
.bottom-border{
    border-bottom: 1px groove #eee;
}
.sidebar-link{
    transition: all 0.4s;
}
.sidebar-link:hover{
    text-decoration: none;
    background-color: #444;
    border-radius: 5px;
}
.current{
background-color: #f44336;
border-radius: 7px;
box-shadow: 2px 5px 10px #111;
transition: all .3s;
display: inline-block;
}
.current:hover{
background-color: #f66436;
border-radius: 7px;
box-shadow: 2px 5px 20px #111;
transform: translateY(-1px);
}
.search-input{
background-color: transparent;
border: none;
border-radius: 0;
border-bottom: 2px solid #999;
transition: all 0.4s;
}
.search-input:focus{
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid #de3545;
}
.search-btn{
border-radius: 100px;
padding: 5px 11px;
transition: all .4s;
}
.search-btn:hover{
background-color: #eee;
transform: translateY(-2px);

}

.card-common{
    box-shadow: 1px 2px 5px #999;
    transition: all .3s;
}

.card-common:hover{
    transform: translateY(-3px);
}
/* task list*/
.task-border{
    border-left: 3px solid #f66436;
}

/* contact us */
#contactTable{
  display: none;
}
#orderTable{
  display: none;
}
#Sub_categoryTable{
  display: none;
}

/* Product Status */
.productStatusActive{
  width: auto;
  padding: 2px 10px;
  cursor: pointer;
  border-radius: 38px;
  height: 26px;
  margin: 8px 0;
  text-align: center;
} 
 
/*categoryTable*/
#userTable{
  display: none;
}
/*categoryTable*/
#productTable{
  display: none;
}
@media (max-width:760px){
    .sidebar{
        position: relative;
        height: auto;
    }
    .top-navbar{
        position: static;
    }
}
/* navbar ends*/





